@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200;400;600;700&family=Urbanist:wght@100;400;700;800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Urbanist", sans-serif;
  width: 100vw;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}
